header {
    align-items: center;
    color: #8F8F8F;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid #E3E3E3;
}

h1 {
    font-size: 22px;
    letter-spacing: .4px;
}

.iron-title {
    font-family: ProximaNova-Bold;
    color: black;
    text-transform: uppercase;
    padding-right: 10px;
}

img {
    padding-right: 12px;
}

.title-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}