.root {
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
}

.overlay {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-loading {
    opacity: 0.75
}
