.root {
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
}

.overlay {
    background: rgba(0,0,0,0.7);
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
