<div class="order-list">
    <h3>Decrypt an order:</h3>
    <!--
      {this.getWarningHeader()}
    -->
    <app-paper>
        <div class='empty-order-list' *ngIf='isEmptyOrderList'>
            <div>No orders sent yet.</div>
        </div>
        <div class='order-row' (click)='expandRow()' *ngFor='let order of orders'>
            <div class="order-row-left">
                <img class="message-avatar" src="assets/avatars/insignia.png" />
                <div class="order-des-text">
                    <p class='todo-title'>{{order.title}}</p>
                    <p>id: {{order.message}}</p>
                </div>
            </div>
            <i class="far fa-eye eye-icon"></i>
        </div>
    </app-paper>
</div>