<h3 class="header-text">Away Team Orders</h3>
<!--
  {this.getWarningHeader()}
-->
<app-paper>
  <div class='empty-order-list' *ngIf='isEmptyOrderList'>
    <div>No orders created yet.</div>
  </div>
  <div class='order-row' (click)='expandRow()' *ngFor='let order of orders'>
    <div className='order-header'>
        <app-avatar-hover src='{{insignia}}' size=45></app-avatar-hover>
        <div className='todo-title'>{{order.title}}</div>
        <div className='timestamp'>date here</div>
    </div>
  </div>

</app-paper>
