.order-list {
    padding: 30px 0;
}

.order-row {
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 7px;
    width: 500;
}

.order-row:last-child {
    border-bottom: none;
}

.order-row:hover > .eye-icon {
    display: block;
}

.eye-icon {
    color: #BEBEBE;
    display: none;
    font-size: 20px;
}

.order-row-left {
    display: flex;
    flex-direction: row;
}

.todo-title {
    color: #BDBDBD;
    font-family: ProximaNova-Bold;
    font-size: 16px;
    margin-bottom: 8px;
}

p {
    color: #000000;
    font-family: Monaco;
    font-size: 12px;
}

.order-des-text {
    align-content: center;
    padding-left: 20px;
}

.empty-order-list {
    align-items: center;
    border: 3px dashed #ccc;
    display: flex;
    font-size: 18;
    height: 235;
    justify-content: center;
    margin-top: 10;
}

.message-avatar {
    border-radius: 100%;
    cursor: pointer;
    height: 45px;
    overflow: hidden;
    width: 45px;
}