.new-order-form {
    position: relative;
    padding: 30px 10px;
    border-bottom: 1px solid #E5E5E5;
}

.header-text {
    color: #BDBDBD;
    font-family: Monaco;
    font-size: 16px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

.order-title-input {
    font-size: 16px;
}

input, textarea {
    width: 97%;
    margin-bottom: 20px;
}