.loader-wrapper {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.main-style {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.order-section {
    max-width: 550px;
    width: 100vw;
};

.panel-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
}
