/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}
html,
body {
    height: 100%;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    flex: 0 1 auto;
}
main {
    flex: 1 1 auto;
}
input, textarea, button {
    outline: none;
}
input, textarea{
    border: 1px solid #D9D9D9;
    border-left: 3px solid #F44336;
    display: block;
    font-size: 14px;
    margin: 15px 0;
    padding: 7px;
    width: 100%;
}
button {
    background: #0ABFD6;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: ProximaNova-Light;
    font-size: 16px;
    letter-spacing: .05em;
    padding: 15px 30px;
    text-align: center;
}
h3 {
    color: #BDBDBD;
    font-family: Monaco;
    font-size: 16px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}