/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
html,
body {
    height: 100%;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
}
h1 {
    font-size: 26px;
    margin-bottom: 5px;
}
h2 {
    font-size: 24px;
    margin-bottom: 5px;
}
h3 {
    font-size: 22px;
    margin-bottom: 5px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}
