<div>
  <h2 class='header'>Manage Away Team</h2>
  <div class='section'>
    <div class='avatar-panel'>
      <app-paper>
        <div class='header-text'>Crew</div>
        <app-avatar-hover src={{crew.img}} iconClasses='fas fa-plus' iconColor='#00BCD4' (click)='addMember(crew)' *ngFor='let crew of crewMembers'></app-avatar-hover>
      </app-paper>
    </div>
    <div class='avatar-panel'>
      <app-paper>
        <div class='header-text'>Away Team</div>
        <app-avatar-hover src={{teamMember.img}} iconClasses='fas fa-times' iconColor='#D51819' (click)='removeMember(teamMember)' *ngFor='let teamMember of awayTeam'></app-avatar-hover>
      </app-paper>
    </div>
  </div>
</div>>
